header {
	width: 100%;
	background: #222;
	.inner {
		width: 1180px;
		height: 80px;
		margin: 0 auto;
		position: relative;
		h1 {
			position: absolute;
			bottom: 20px;
			left: 0px;
			a {
				font-size: 24px;
				font-family: $Engtxt;
				line-height: 1;
				color: #fff;
			}
		}
		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px 30px;
					font-family: $Engtxt;
					font-size: 14px;
					color: #fff;
					position: relative;
					&::after {
						content: '';
						width: 0px;
						height: 2px;
						position: absolute;
						top: 99%;
						left: 50%;
						transition: 0.5s;
						background-color: rgba(235, 213, 69, 0.989);
					}
					&:hover {
						&::after {
							left: 20%;
							width: 60%;
						}
					}
				}
			}
		}
		.btnCall {
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			display: none;
			width: 30px;
			height: 30px;
			cursor: pointer;
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				background: #000;
				position: absolute;
				top: 0;
				left: 0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				background: #000;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -1px;
				transition: 1s;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
	}

	&.main {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0px;
		background: transparent;
		border-bottom: 1px solid #ccc;
		z-index: 2;

		.inner {
			width: 100%;
			height: 100%;

			h1 {
				left: 5vw;
				a {
					font-size: 30px;
					color: #fff;
				}
			}
			#gnb {
				right: 5vw;
				li a {
					color: #222;
				}
			}
			.fa-bars {
				color: #fff;
			}
		}
	}
	&.sub {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0px;
		background-color: hsl(58deg 40% 84% / 25%);
		z-index: 2;
		.inner {
			width: 100%;
			height: 100%;
			h1 {
				left: 5vw;
				a {
					font-size: 30px;
					color: #ccc;
				}
			}
			#gnb {
				right: 5vw;
				li a {
					color: #222;
					// color: rgba(235, 213, 69, 0.989);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		.inner {
			width: 100%;
			h1 {
				left: 40px;
			}
			#gnb {
				display: none;
			}
			.btnCall {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
}
