.content {
	background-color: #fffcf0;
	padding: 150px 0px 250px;
	figure {
		width: 100%;
		height: 250px;
		background-color: #fffcf0;
		opacity: 0;
		transition: 1s;
		position: relative;
		h1 {
			position: absolute;
			bottom: 40%;
			right: 10%;
			width: 100%;
			font-size: 70px;
			max-width: 1280px;
			z-index: 2;
			text-align: left;
		}
	}
	> .inner {
		max-width: 1180px;
		min-height: 400px;
		padding: 0 10px;
		margin: 0 auto;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 1s, transform 1s;
	}

	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		> .inner {
			width: 100%;
			margin: 80px auto 120px;
			padding: 0px 40px;
		}
	}
}
