* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Ubuntu;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}

// //수업시간에 한거
// table,
// th,
// td {
// 	border-collapse: collapse;
// }
// textarea {
// 	resize: none;
// }
// //수업시간에 한거

.h {
	position: absolute;
	top: -9999px;
	opacity: 0;
}

.hidden {
	position: absolute;
	top: -99999999px;
	opacity: 0;
}
