//SPECIAL EXHIBITION
#information {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 150px 0px 150px;
	background-color: #fffcf0;
	.inner {
		max-width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		padding: 0 10px;
		> h2 {
			text-align: center;
			font-weight: 600;
			font-size: 40px;
			color: #222;
			margin-bottom: 50px;
			font-family: $Engtxt;

			opacity: 0;
			transition: 1s;
			transform: translateX(100px);
		}
		#slider {
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0px auto;
			overflow: hidden;

			transition: 1s;
			transform: translateX(100px);
			opacity: 0;

			ul {
				//width: calc(100% * 3);
				height: 100%;
				margin-left: -100%;

				li {
					//width: calc(100% / 3);
					height: 100%;
					float: left;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					font-size: 100px;
					.wrap {
						display: flex;
						justify-content: space-between;
						flex-direction: row-reverse;
						align-items: center;
						width: 100%;
						margin: 2vw;
						.pic {
							width: 50%;
							overflow: hidden;
							height: 500px;
							img {
								border-top-left-radius: 50%;
								border-top-right-radius: 50%;
								width: 100%;
								height: 100%;
								object-fit: cover;
								transition: 0.5s;
							}
						}
						.txt {
							padding: 60px 50px;
							width: 50%;
							overflow: hidden;
							position: relative;
							height: 500px;
							h2 {
								// color: rgba(235, 213, 69, 0.989);
								color: #222;
								font-size: 35px;
								margin-bottom: 20px;
								font-family: $Engtxt;
								font-weight: 100;
							}
							p {
								color: #222;
								font-size: 20px;
								font-family: $Engtxt;
								font-weight: 100;
							}
							span {
								font-size: 18px;
								color: #222;
								font-weight: bold;
							}
							button {
								display: block;
								width: 20%;
								position: absolute;
								right: 0;
								bottom: 0;
								text-align: center;
								margin: 20px;
								border: 1px solid #222;
								padding: 10px;
								color: black;
								background-color: #fffcf0;
								font-weight: bold;
								font-size: 15px;
								transition: 0.5s;
								cursor: pointer;
								&:hover {
									background-color: rgba(235, 213, 69, 0.989);
									border-color: rgba(235, 213, 69, 0.989);
									color: #efefef;
								}
							}
						}
					}
				}
			}

			.prev {
				position: absolute;
				left: 0px;
				top: 50%;
				font-size: 40px;
				background-color: #fffcf0;
				border: none;
				cursor: pointer;
			}
			.next {
				position: absolute;
				right: 0px;
				top: 50%;
				font-size: 40px;
				background-color: #fffcf0;
				border: none;
				cursor: pointer;
			}
		}

		article {
			width: 33.333%;
			float: left;
			padding: 10px;
			margin-bottom: 50px;

			.inner {
				width: 100%;

				.pic {
					width: 100%;
					height: 300px;
					background: #111;
					margin-bottom: 20px;
					filter: saturate(0.2);
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						filter: saturate(1.1);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
	&.on {
		.inner {
			h2 {
				transform: translateX(0px);
				opacity: 1;
			}
			#slider {
				transform: translateX(0px);
				opacity: 1;
			}
		}
	}
}
