//our programs
#services {
	width: 100%;
	padding: 150px 0px 650px;
	background-color: #fffcf0;
	.innerH1 {
		width: 1180px;
		margin: 0 auto;
		h1 {
			text-align: center;
			font-weight: 600;
			font-size: 40px;
			color: #222;
			margin-bottom: 50px;
			font-family: $Engtxt;
		}
	}
	.inner {
		max-width: 1180px;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
		.wrapUl {
			ul {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					// width: 100%;
					height: 100%;
					display: block;
					padding: 1px 41px;
					font-family: $Engtxt;
					font-weight: 400;
					font-size: 18px;
					line-height: 1px;
					color: black;
					text-align: center;
					> a {
						width: 100%;
						height: 100%;
						display: block;
						padding: 20px 0px;
						color: rgba(0, 0, 0, 0.747);
						text-align: center;
						transition: all 0.3s;
						margin-bottom: 10px;
						position: relative;
						&::after {
							content: '';
							width: 0px;
							height: 2px;
							position: absolute;
							top: 100%;
							left: 50%;
							transition: 0.3s;
							background-color: rgba(235, 213, 69, 0.989);
						}
						&:hover {
							&::after {
								left: 0%;
								width: 100%;
							}
						}
					}
				}
			}
		}
		.wrapArc {
			width: 100%;
			position: relative;
			margin-top: 50px;
			article {
				position: absolute;
				top: 0;
				left: 50px;
				visibility: hidden;
				overflow: hidden;
				transition: 0.3s;
				display: flex;
				opacity: 0;

				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.pic {
					float: left;
					width: 50%;
					overflow: hidden;
					height: 500px;
					img {
						width: 100%;
						height: 100%;
						object-fit: fill;
						transition: 0.5s;
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
					}
				}
				.txt {
					float: right;
					width: 50%;
					overflow: hidden;
					padding: 60px 100px 60px 60px;
					height: 500px;
					position: relative;
					h2 {
						font-family: $Engtxt;
						font-weight: 100;
						padding: 10px 0px 50px;
						font-size: 35px;
					}
					p {
						font-family: $Engtxt;
						font-weight: 100;
						word-break: break-all;
						font-size: 20px;
						width: 100%;
						text-align: left;
						color: #222;
					}
					a {
						display: block;
						width: 25%;
						text-align: center;
						margin: 40px 0px 10px;
						border: 1px solid black;
						padding: 10px;
						color: black;

						position: absolute;
						right: 15%;
						bottom: 20px;
						font-weight: bold;
						font-size: 15px;
						transition: 0.3s ease;
						&:hover {
							background-color: rgba(235, 213, 69, 0.989);
							border-color: rgba(235, 213, 69, 0.989);
							color: #efefef;
						}
					}
				}
				&.on {
					display: flex;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
