#vids {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 150px 0px 150px;
	background-color: #fffcf0;
	overflow: hidden;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;

		h2 {
			text-align: center;
			font-weight: bold;
			font-size: 50px;
			color: #222;
		}
		.wrap {
			width: 100%;
			height: 650px;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				float: left;
				height: 100%;
				width: 100%;
				transform: translateY(100px);
				transition: 0.3s;
				position: relative;
				cursor: pointer;
				padding: 10px;
				overflow: hidden;

				filter: grayscale(0.5);
				&:nth-of-type(1) {
					width: calc(100% / 2);
					height: calc(100% / 2);
					transition-delay: 0s;
				}
				&:nth-of-type(2) {
					width: calc(100% / 2);
					height: calc(100% / 2);
					transition-delay: 0.3s;
				}
				&:nth-of-type(3) {
					width: calc(100% / 3);
					height: calc(100% / 3);
					transition-delay: 0.6s;
				}
				&:nth-of-type(4) {
					width: calc(100% / 3);
					height: calc(100% / 3);
					transition-delay: 0.9s;
				}
				&:nth-of-type(5) {
					width: calc(100% / 3);
					height: calc(100% / 3);
					transition-delay: 1.2s;
				}
				.pic {
					height: 100%;
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: 1s;
					}
				}
				&.on {
					transform: translateY(0px);
				}
				.con {
					width: 100%;
					height: 100%;
					button {
						width: 50px;
						height: 50px;
						cursor: pointer;
						border: #efefef;
						background-color: #b61414;
						color: #efefef;
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -25%);
						opacity: 1;
						border-radius: 50%;
						transition: 1s;
						.play {
							margin-left: 5px;
							font-size: 25px;
							transition: 0.2s;
							&:hover {
								transform: scale(1.5);
							}
						}
					}
				}
				&:hover {
					filter: saturate(1.1);
					img {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
