.gallery {
	background-color: #fffcf0;
	.loading {
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
	}
	.controls {
		width: 100%;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
		.searchBox {
			margin-bottom: 30px;
			margin-left: 10%;
			padding: 0vw 3vw;
			width: 100%;
			input {
				border: 3px solid rgba(235, 213, 69, 0.989);
				float: left;
				padding: 20px 10px;
				width: 80%;
				text-align: center;
			}
			button {
				background-color: rgba(235, 213, 69, 0.989);
				border: 3px solid rgba(235, 213, 69, 0.989);
				// float: left;
				padding: 20px 0px;
				width: 5%;
				overflow: hidden;
				cursor: pointer;
				.Glass {
					color: #fff;
					text-align: center;
				}
			}
		}

		nav {
			button {
				width: 130px;
				height: 28px;
				border: none;
				background-color: rgba(235, 213, 69, 0.989);
				font: 12px/1 'arial';
				color: #fff;
				cursor: pointer;
				margin-left: 5px;
			}
		}
	}
	.frame {
		opacity: 0;
		transform: translateY(200px);
		transition: opacity 0.5s, transform 0.5s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			float: left;
			padding: 10px;
			width: 25%;
			.picBox {
				cursor: pointer;
				width: 100%;
				background: #fff;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
				.pic {
					width: 100%;
					margin-bottom: 5px;
					// height: 100%;
					// overflow: hidden;
					// position: relative;
					// filter: grayscale(0.6);
					img {
						// height: 100%;
						object-fit: cover;
						// object-position: center;
						width: 100%;
					}
				}
				.conBox {
					padding: 20px;
					// flex: 1 1;
					// padding: 30px 20px;
					h2 {
						margin-bottom: 20px;
						color: rgba(235, 213, 69, 0.989);
						font: 18px;
					}
					p {
						color: #333;
						font-size: 16px;
						margin-bottom: 30px;
					}
					.profile {
						display: flex;
						justify-items: flex-start;
						align-items: center;
						img {
							width: 30px;
							height: 30px;
							object-fit: cover;
							border-radius: 15px;
						}
						span {
							// cursor: pointer;
							color: #333;
							font-size: 14px;
							margin-left: 15px;
							// font-weight: bold;
							// &:hover {
							// color: cornflowerblue;
							// }
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery .frame article {
		width: 50%;
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.controls {
			.searchBox {
				width: 100%;

				input {
					width: 100%;
					margin-bottom: 5px;
				}
				button {
					width: 100%;
					margin-bottom: 20px;
					margin-left: 0px;
				}
			}
			nav {
				width: 100%;
				display: flex;
				justify-content: space-between;
				button {
					width: 48%;
					margin-left: 0px;
				}
			}
		}
		.frame article {
			width: 100%;
		}
	}
}
