.join {
	background-color: #fffcf0;
	.inner {
		.wrap {
			width: 100%;
			padding: 0px 100px;
			h2 {
				font-weight: bold;
				font-size: 30px;
				color: #444;
				margin: 0px 0px 20px;
			}
			#terms {
				background-color: #fffcf0;
				border: none;
				width: 100%;
				height: 200px;
				resize: none;
				padding: 10px 20px;
				margin-bottom: 20px;
				font-size: 15px;
				color: BLACK;
				word-break: break-all;
			}
			.agreement {
				margin-bottom: 50px;

				input[type='checkbox'] {
					margin-right: 15px;
					height: 18px;
					margin-top: 3px;
					vertical-align: center;
					width: 15px;
					cursor: pointer;
				}
				label {
					margin-right: 10px;
				}
				label[for='agree'] {
					font-size: 20px;
				}
				p {
					font-size: 12px;
					font-weight: bold;
					color: rgba(235, 213, 69, 0.989);
					margin-top: 5px;
				}
			}
			table {
				width: 100%;
				border-top: 2px solid #999;

				th,
				td {
					// border-bottom: 1px solid #ddd;
					padding: 15px 25px;
				}
				th {
					width: 20%;
					border: 0;
					font-size: 20px;
					font-weight: 500;
					text-align: center;

					input[type='reset'],
					input[type='submit'] {
						background: rgba(0, 0, 0, 0.03);
						border: 0;
						width: 30%;
						height: 40px;
						margin: 0px 50px;
						font-size: 14px;
						line-height: 40px;
						font-weight: bold;
						color: #555;
						cursor: pointer;
						transition: 0.5s;

						&:hover {
							background-color: rgba(235, 213, 69, 0.989);
							color: #fff;
							border: 1px solid rgba(235, 213, 69, 0.989);
						}
					}
				}
				td {
					input[type='text'],
					input[type='password'],
					select {
						background: transparent;
						width: 100%;
						background: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 0;
						border-bottom: 1px solid rgba(235, 213, 69, 0.989);
					}
					select {
						cursor: pointer;
					}
					input[type='radio'],
					input[type='checkbox'] {
						margin-right: 30px;
						height: 18px;
						margin-top: 3px;
						vertical-align: top;
						width: 15px;
						cursor: pointer;
					}
					label {
						margin-right: 10px;
					}
					textarea {
						resize: none;
						width: 100%;
						height: 150px;
						background: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 0;
					}
					p {
						font-size: 12px;
						font-weight: bold;
						color: rgba(235, 213, 69, 0.989);
						margin-top: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.join {
		.inner {
			.wrap {
				max-width: 1180px;
				padding: 0px 10px;
				h2 {
					line-height: 0px;
				}
				#terms {
					height: 100%;
				}
				table {
					th {
						width: 30%;
					}
					td {
						input[type='text'],
						input[type='password'],
						select {
							width: 80%;
							background: rgba(0, 0, 0, 0.03);
							padding: 10px;
							border: 1px solid #aaa;
						}
						input[type='radio'],
						input[type='checkbox'] {
							margin-right: 5px;
						}
						label {
							font-size: 14px;
						}
						#comments {
							font-size: 15px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.join {
		.inner {
			.wrap {
				table {
					th {
						width: 30%;
					}
					td {
						input[type='text'],
						input[type='password'],
						select {
							width: 80%;
							background: rgba(0, 0, 0, 0.03);
							padding: 10px;
							border: 1px solid #aaa;
						}
						input[type='radio'],
						input[type='checkbox'] {
							margin-right: 5px;
						}
						label {
							font-size: 14px;
						}
						#comments {
							font-size: 15px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
