.location {
	width: 100%;
	min-height: 500px;
	transition: 1s;
	overflow: hidden;
	background-color: #fffcf0;
	.upper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		#map {
			width: 50%;
			height: 500px;
			border: 1px solid #000;
			margin-bottom: 10px;
		}
		.QuickJoin {
			width: 50%;
			h2 {
				text-align: center;
				font-weight: bold;
				font-size: 60px;
				color: #444;
				margin-bottom: 50px;
			}
			form {
				fieldset {
					padding: 15px;
					border: none;
					border-top: none;
					table {
						width: 100%;
						th {
							width: 20%;
							padding: 30px 30px;
							font-size: 20px;
							line-height: 1px;
							color: #666;
							// text-align: left;
							&:last-child {
								border-bottom: none;
							}
							input[type='submit'] {
								width: 150px;
								height: 30px;
								border: none;
								margin-left: 40px;
								background-color: rgba(235, 213, 69, 0.989);
								cursor: pointer;
								font-size: 14px;
								line-height: 1px;
								color: #fff;
								margin-top: 20px;
							}
							p {
								font-size: 12px;

								font-weight: bold;
								color: rgba(235, 213, 69, 0.989);
								margin-top: 5px;
								text-align: left;
								padding-left: 13%;
							}
						}
						td {
							padding: 10px 30px;
							background-color: #fffcf0;
							input[type='text'] {
								width: 100%;
								height: 40px;
								border-top: none;
								border-left: none;
								border-right: none;
								border-bottom: 1px solid rgba(235, 213, 69, 0.989);
								background: none;
								text-align: center;
								font-weight: normal;
								font-size: 16px;
								line-height: 1px;
							}
							input[type='tel'],
							#tell {
								// width: calc(100% / 3);
								width: 30%;
								padding: 5px;
								font-size: 14px;
								background-color: #fffcf0;
								border: 0;
								border-bottom: 1px solid rgba(235, 213, 69, 0.989);
							}
							select {
								cursor: pointer;
							}
							p {
								font-size: 12px;
								font-weight: bold;
								color: rgba(235, 213, 69, 0.989);
								// color: pink;
								margin-top: 5px;
							}
						}
					}

					label[for='agree'] {
						font-size: 16px;
						text-align: left;
						cursor: pointer;
					}
					input[type='checkbox'] {
						margin-right: 15px;
						width: 15px;
						cursor: pointer;
						height: 15px;

						vertical-align: center;
					}
				}
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
	nav {
		margin-bottom: 100px;
		width: 100%;
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		align-content: flex-start;
		.branch {
			display: flex;
			justify-content: space-between;
			width: 50%;
			height: 50%;

			// padding-left: 50px;
			li {
				border: 3px solid rgba(235, 213, 69, 0.989);
				width: 250px;
				padding: 5px;
				text-align: center;
				padding: 15px;
				margin-right: 10px;
				cursor: pointer;
				background: #fffcf0;
				transition: 0.5s ease;
				&.on {
					background: rgba(235, 213, 69, 0.989);
					color: #333;
				}
			}
			button {
				// margin-left: 10%;
				width: 60px;
				background: #efefef;
				font: bold 12px/1 'arial';
				color: #333;
				// border: 2px solid rgba(235, 213, 69, 0.989);
				border: none;
				cursor: pointer;
				transition: 1s ease;
				border-radius: 50%;
				.car {
					font-size: 40px;
					&:hover {
						// color: #444;
						color: #fff;
					}
				}
				&:hover {
					background: rgba(235, 213, 69, 0.989);
				}
			}
		}
	}

	.contbox {
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		overflow: hidden;
		article {
			border: 3px solid rgba(235, 213, 69, 0.989);
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 300px;
			padding: 3vw;
			text-align: center;
			background-color: #fffcf0;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-right: 20px;
			transition: 0.3s ease;
			cursor: pointer;
			.loct {
				font-size: 30px;
				transition: 0.3s ease;
			}
			.phone {
				font-size: 30px;
				transition: 0.3s ease;
			}
			.env {
				font-size: 30px;
				transition: 0.3s ease;
			}
			h3 {
				color: #000;
				font-size: 22px;
			}
			p {
				color: #333;
				font-size: 16px;
			}
			&:hover {
				background-color: rgba(235, 213, 69, 0.989);
				color: #fff;
				.loct,
				.phone,
				.env {
					scale: (1.2);
				}
			}
		}
	}
}
