.result2 {
	width: 100%;
	padding: 0px;
	> .inner {
		width: 100%;
		padding: 0px 0px 230px;
		.wrap {
			width: 100%;
			height: 600px;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			.textWrap {
				width: 50%;
				height: 100%;
				float: left;
				position: relative;
				background-color: rgba(235, 213, 69, 0.989);
				.textBox {
					width: 590px;
					position: absolute;
					right: 0;
					top: 0;
					padding: 100px 50px 0px 0px;
					h2 {
						padding-left: 20px;
						font-size: 28px;
						font-family: $Noto;
						color: #444;
						margin-bottom: 40px;
						font-weight: 400;
						span {
							font-family: $Noto;
							color: #000;
							font-size: 32px;
							font-weight: 600;
						}
					}
					.openInfo {
						padding: 25px;
						background-color: rgba(231, 229, 198, 0.596);
						// border: 1px solid rgb(244, 222, 82);
						h2 {
							font-family: $Noto;
							padding-left: 0px;
							font-size: 25px;
							color: #000;
							margin-bottom: 15px;
							font-weight: 600;
						}
						p {
							font-family: $Noto;
							font-size: 20px;
							color: #666;
							font-weight: 500;
						}
						span {
							font-family: $Noto;
							font-size: 30px;
							color: #333;
							margin-bottom: 20px;
							font-weight: 600;
							display: block;
						}
					}
				}
			}
			.imgWrap {
				width: 50%;
				height: 100%;
				float: left;
				position: relative;

				.imgBox {
					width: 100%;
					height: 100%;
					background: url('../../../public/img/sub_result/result.jpg') no-repeat center/cover;
					background-attachment: fixed;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	//1179
	.result2 {
		> .inner {
			.wrap {
				.textWrap {
					.textBox {
						width: 100%;
						h2 {
							font-size: 27px;
							span {
								display: block;
							}
						}
						.openInfo {
							padding: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.result2 {
		> .inner {
			.wrap {
				.textWrap {
					.textBox {
						h2 {
							span {
								font-size: 30px;
							}
						}
						.openInfo {
							h2 {
								font-size: 23px;
							}
							p {
								span {
									font-size: 25px;
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tabletMini) {
	//840
	.result2 {
		> .inner {
			.wrap {
				.textWrap {
					.textBox {
						padding: 50px 10px 0px 10px;
						h2 {
							font-size: 20px;
							span {
								font-size: 22px;
							}
						}
						.openInfo {
							padding: 10px;
							h2 {
								font-size: 20px;
							}
							p {
								font-size: 18px;
							}
							span {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	//480
	.result2 {
		> .inner {
			.wrap {
				height: 450px;
				.textWrap {
					.textBox {
						padding: 50px 10px 0px 10px;
						h2 {
							font-size: 16px;
							padding-left: 10px;
							margin-bottom: 20px;
							span {
								font-size: 16px;
							}
						}
						.openInfo {
							padding: 10px;
							h2 {
								font-size: 18px;
							}
							p {
								font-size: 15px;
								span {
									font-size: 15px;
									margin-bottom: 0px;
								}
							}
						}
					}
				}
			}
		}
	}
}
