.youtube {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	article {
		border-top: 1px solid #ddd;
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h3 {
			width: 20%;
			font-weight: 600;
			font-size: 25px;
			color: #555;
			font-family: $Engtxt;
		}
		.txt {
			width: 38%;

			display: flex;
			flex-wrap: wrap;
			padding: 0px 10px;
			justify-content: end;
			p {
				font-size: 18px;
				color: #888;
				font-family: $Engtxt;
			}
			span {
				font-size: 16px;
				color: #555;
			}
		}
		.pic {
			width: 40%;
			height: 250px;
			cursor: pointer;
			background-color: black;
			filter: saturate(0.5);
			transition: 0.5s;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1s;
			}
			&:hover {
				filter: saturate(1.1);
				img {
					transform: scale(1.2);
				}
			}
			button {
				width: 50px;
				height: 50px;
				cursor: pointer;
				border: #efefef;
				background-color: #b61414;
				color: #efefef;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				opacity: 1;
				border-radius: 50%;
				transition: 1s;
				.play {
					margin-left: 5px;
					font-size: 25px;
					transition: 0.2s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		article {
			h3 {
				width: 48%;
			}
			.txt {
				width: 50%;
			}
			.pic {
				width: 100%;
				margin-top: 50px;
				margin-bottom: 80px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Youtube {
		article {
			h3 {
				width: 100%;
				margin-bottom: 20px;
			}
			.txt {
				width: 100%;
				span {
					margin-top: 20px;
				}
			}
			.pic {
				width: 100%;
				margin-top: 30px;
				margin-bottom: 40px;
			}
		}
	}
}
